<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body data-new-gr-c-s-check-loaded="8.884.0" data-gr-ext-installed="">
<div class="container">
    <div class="copy-container center-xy">
        <h1>
            404
        </h1>
        <p>$ не найдено.<span class="animate__animated animate__flash handle"></span></p>
    </div>
</div>
</body>