<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вред курения</title>
</head>
<body>
    <header>
        <h1>Вред курения</h1>
    </header>

    <article>
        <h2>Почему курение вредно для здоровья</h2>
        <p>Курение является одной из самых опасных привычек, которая сильно негативно влияет на здоровье человека. Вот некоторые основные причины, по которым курение вредно:</p>
        <ul>
            <li>Табачный дым содержит более 7 тысяч химических веществ, из которых более 250 являются вредными, а около 70 - канцерогенами.</li>
            <li>Курение увеличивает риск развития различных видов рака, включая рак легких, ротовой полости, гортани, пищевода и других органов.</li>
            <li>Никотин, содержащийся в табаке, является сильным психоактивным веществом, которое вызывает зависимость и может привести к тяжелым заболеваниям, таким как хроническая обструктивная болезнь легких (ХОБЛ) и сердечно-сосудистые заболевания.</li>
            <li>Курение повышает риск инфаркта миокарда, инсульта и других сердечно-сосудистых заболеваний.</li>
            <li>Пассивное курение также вредно для окружающих, особенно детей и беременных женщин.</li>
        </ul>
   </article>

    <footer>
        <p>&copy; 2024. Все права защищены.</p>
    </footer>
</body>
</html>
