<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vympel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/starter.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <style>
        @font-face {
            font-family: AireExterior;
            src: url('static/fonts/AireExterior.ttf');
        }

        body {
            color: #000000;
        }

        .vympel {
            font-family: "AireExterior", sans-serif;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            color: #000000;
            margin-top: -30px;
        }
    </style>
</head>
<body>
<div class="col-md-8 px-3 mx-auto">
    <header class="pb-3 mb-3 border-bottom">
        <h1 class="h1">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="vympel text-center">vympel</span>
            </a>
        </h1>
    </header>
    <h5>ближайшая дискотека: {{ disco_date }}</h5>
    <hr>
    {# <p>просьба не топтать пол под хардбас</p>#}
    {#
    <hr/>
    #}
    <!-- Modal -->
    <div class="modal fade" id="songChoice" tabindex="-1" role="dialog" aria-labelledby="songChoiceLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="songChoiceLabel">выбор песен</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="message-text" class="col-form-label">нажми для выбора ⬇️</label>
                        <select name="song" class="form-select w-100" multiple required
                                aria-label="multiple select example">
                            {% for song in data %}
                            <option>{{ song[0] }}</option>
                            {% endfor %}
                        </select>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">отряд:</label>
                            {% for squad in range(1, 4 + 1) %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="squad" id="squad_{{ squad }}"
                                       value="{{ squad }}">
                                <label class="form-check-label" for="squad_{{ squad }}">{{ squad }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">закрыть</button>
                        <button type="submit" class="btn btn-primary">отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="anonMessage" tabindex="-1" role="dialog" aria-labelledby="songChoiceLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="songChoiceLabel1">написать сообщение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">от кого (по желанию):</label>
                            <input type="text" name="name" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">сообщение:</label>
                            <textarea name="message" class="form-control" required id="message-text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">закрыть</button>
                        <button type="submit" class="btn btn-primary">отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="icon-list">
                <li><a href="{{ url_for('library') }}">библиотека песен</a></li>
                <!--                {% if is_voteable %}-->
                <!--                    <li><a data-toggle="modal" data-target="#songChoice"-->
                <!--                           href="https://getbootstrap.com/docs/4.6/getting-started/introduction">выбор песен</a></li>-->
                <!--                {% endif %}-->
                <li><a href="{{ url_for('song_rating') }}">топ голосования</a></li>
                <li><a href="{{ url_for('squad_rating') }}">топ по отрядам</a></li>
                <li><a href="{{ url_for('send_files') }}">обмен файлами</a></li>
                <!--                <li><a href="{{ url_for('wallet') }}">баланс отрядов</a></li>-->
                <li><a data-toggle="modal" data-target="#anonMessage"
                       href="https://getbootstrap.com/docs/4.6/getting-started/build-tools">сообщение в рубку</a></li>
                <li><a href="https://files.vympel.one/index.php/s/swaPSMnMe4YkCfj">загрузка фото и видео</a></li>
                <li><a href="https://files.vympel.one/index.php/s/tjcRxHmTXAnnq6m">миниклубы</a></li>
<!--                <li><a href="https://files.vympel.one/index.php/s/oGA5tGJpN9m8yRg">переделки гномиков</a></li>-->
                <li><a href="{{ url_for('ped') }}">для вожатых</a></li>
                {% if is_ph or is_admin %}
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="icon-list">
                <li><a href="/" onclick="handleLinkClick(event)">выгрузить фото</a></li>
                {% endif %}
                {% if is_admin %}
                <li><a href="/" onclick="resetVote(event)">сброс голосования</a></li>
                <li><a href="/" onclick="addSongs(event)">добавить песни</a></li>
                <li><a href="{{ url_for('wallet') }}">кошелек</a></li>
<!--                <li><a href="/" onclick="resetButtons(event)">сбросить кнопки</a></li>-->
<!--                <li><a href="/" onclick="mlButtons(event)">младшие</a></li>-->
<!--                <li><a href="/" onclick="stButtons(event)">старшие</a></li>-->
<!--                <li><a href="{{ url_for('internet') }}">интернет</a></li>-->
                <li><a href="{{ url_for('balance_editor') }}">управление балансом</a></li>
                <li><a href="/" onclick="chime(event)">chime</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <p class="text-muted">если нашли ошибку в работе сайта, просьба обращаться в рубку.</p>
</div>
<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
{% if is_ph or is_admin %}
<script>
    function handleLinkClick(event) {
        event.preventDefault();

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload-photo", true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    alert(response)
                } else {
                    console.error("Ошибка запроса: " + xhr.status);
                }
            }
        };

        xhr.send();
    }

    function resetButtons(event) {
        // предотвращаем переход по ссылке по умолчанию
        event.preventDefault();

        // отправляем на бэкэнд
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/reset-buttons", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    // alert(response)
                } else {
                    console.error("Ошибка запроса: " + xhr.status);
                }
            }
        };
        xhr.send();
    }

    function chime(event) {
        event.preventDefault();

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/chime", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    alert(response.message);
                } else {
                    console.error("ошибка запроса: " + xhr.status);
                }
            }
        };
        xhr.send();
    }

    function mlButtons(event) {
        // предотвращаем переход по ссылке по умолчанию
        event.preventDefault();

        // отправляем на бэкэнд
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/ml", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    console.log(response)
                } else {
                    console.error("Ошибка запроса: " + xhr.status);
                }
            }
        };
        xhr.send();
    }

    function addSongs(event) {
        // предотвращаем переход по ссылке по умолчанию
        event.preventDefault();

        // отправляем на бэкэнд
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/add-songs", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    alert(response)
                } else {
                    console.error("Ошибка запроса: " + xhr.status);
                }
            }
        };
        xhr.send();
    }

    function resetVote(event) {
        // предотвращаем переход по ссылке по умолчанию
        event.preventDefault();

        // отправляем на бэкэнд
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/reset-vote", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    alert(response)
                } else {
                    console.error("Ошибка запроса: " + xhr.status);
                }
            }
        };
        xhr.send();
    }

    function stButtons(event) {
        // предотвращаем переход по ссылке по умолчанию
        event.preventDefault();

        // отправляем на бэкэнд
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/st", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = xhr.responseText;
                    console.log(response)
                } else {
                    console.error("Ошибка запроса: " + xhr.status);
                }
            }
        };
        xhr.send();
    }

</script>
{% endif %}

</body>
</html>
