<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/starter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>

    <title>vympel</title>
    <style>
        .vympel {
            margin-top: -30px;
        }


    </style>
</head>
<body>
<div class="col-md-8 px-3 mx-auto">
    <header class="pb-3 mb-3 border-bottom">
        <h1 class="h1">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="vympel text-center">vympel</span>
            </a>
        </h1>
    </header>
    <h5>ближайшая дискотека: 1 июня</h5>
    <hr/>
    {# <p>Просьба не топтать пол под хардбас</p>#}
    {#
    <hr/>
    #}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">выбор песен</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="message-text" class="col-form-label">нажми для выбора ⬇️</label>
                        <select name="song" class="form-select w-100" multiple aria-label="multiple select example">
                            {% for song in data %}
                            <option>{{ song[0] }}</option>
                            {% endfor %}
                        </select>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">отряд:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="squad" id="squad_1"
                                       value="1">
                                <label class="form-check-label" for="squad_1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="squad" id="squad_2"
                                       value="2">
                                <label class="form-check-label" for="squad_2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="squad" id="squad_3"
                                       value="3">
                                <label class="form-check-label" for="squad_3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="squad" id="squad_4"
                                       value="4">
                                <label class="form-check-label" for="squad_4">4</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">закрыть</button>
                        <button type="submit" class="btn btn-primary">отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">сообщение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <!--                        <div class="form-group">-->
                        <!--                            <label for="recipient-name" class="col-form-label">отряд:</label>-->
                        <!--                            <input type="text" class="form-control" id="recipient-name">-->
                        <!--                        </div>-->
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">сообщение:</label>
                            <textarea name="message" class="form-control" id="message-text"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">закрыть</button>
                        <button type="submit" class="btn btn-primary">отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <ul class="icon-list">
                {% if is_voteable %}
                <li><a data-toggle="modal" data-target="#exampleModal"
                       href="https://getbootstrap.com/docs/4.6/getting-started/introduction">выбор песен</a></li>
                {% endif %}
                <li><a href="{{ url_for('song_rating') }}">топ песен</a></li>
                <li><a href="{{ url_for('squad_rating') }}">топ по отрядам</a></li>
                <li><a href="{{ url_for('send_files') }}">обмен файлами</a></li>
                <li><a href="{{ url_for('wallet') }}">баланс отрядов</a></li>
                <li><a data-toggle="modal" data-target="#exampleModal1"
                       href="https://getbootstrap.com/docs/4.6/getting-started/build-tools">анонимное сообщение</a></li>
                <li><a href="{{ url_for('files') }}">скачать фотографии</a></li>
            </ul>
        </div>
    </div>
    <p class="text-muted">если нашли ошибку в работе сайта, просьба обращаться в рубку.</p>
</div>
<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>