<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vympel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/starter.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <style>
        @font-face {
            font-family: AireExterior;
            src: url('static/fonts/AireExterior.ttf');
        }

        body {
            color: #000000;
        }

        .vympel {
            font-family: "AireExterior", sans-serif;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            color: #000000;
            margin-top: -30px;
        }
    </style>
</head>
<body>
<div class="col-md-8 px-3 mx-auto">
    <header class="pb-3 mb-3 border-bottom">
        <h1 class="h1">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="vympel text-center">vympel</span>
            </a>
        </h1>
    </header>
    <div class="row">
        <div class="col-md-6">
            <ul class="icon-list">
                <li><a href="{{ url_for('clicker') }}">кликер презентаций</a></li>
                <li><a href="https://files.vympel.one/index.php/s/5CBfoRKPctdTX9H">программы</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>
