<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Хм, ты кое-кого забыла…
<br>Сегодня отмечается «День ковбоя», «День прокурора» и «День толстяка и толстушки», концерт наверняка посвящён одному из этих праздников.
<br>Настя, а можешь мне что-то рассказать про четвертую лигу?
<br>Четвёртый по силе дивизион профессионального российского футбола, существовавший в 1994—1997 годах.
<br>Настя, а почему я ничего не могу найти про ваши лиги в интернете?
<br>Я хочу сама расспросить следующую лигу!
<br>Первая лига спародируйте своего инструктора.
<br>Конечно, что бы выбрали проспать зарядку, душ каждый день или горячие бутерброды с колбасой?
<br>Пятая лига, это самые младшие?
<br>Очень, можно мне остаться с вами и еще лучше узнать ваши лиги?
<br>Включаю лагерный миниклуб
</body>
</html>