<!DOCTYPE html>
<html>
<head>
    <title>Топ песен</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <style>
        h5 {
            margin-top: 7px;
        }

        .container {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .song-info {
            display: inline-block;
            vertical-align: middle;
        }

        .song-title {
            display: block;
            color: black;
        }

        .song-artist {
            display: block;
            color: gray;
        }

        .rating-badge {
            display: inline-block;
            vertical-align: middle;
            margin-left: -5px;
            margin-right: 10px;
        }
    </style>
</head>
<body>

<div class="container">
    <h3 class="mb-3 text-center">топ песен по отрядам</h3>
    {% if sq1|length != 0 %}
        <h5>1 отряд</h5>
        <ul class="list-group">
            {% for song in sq1 %}
                <li class="list-group-item">
                    <span class="badge badge-dark badge-pill rating-badge">{{ song[0] }}</span>
                    <div class="song-info">
                        <span class="song-title">{{ song[1].split(' - ')[1] }}</span>
                        <span class="song-artist">{{ song[1].split(' - ')[0] }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h5>1 отряд</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge badge-dark badge-pill rating-badge">0</span>
                <div class="song-info">
                    <span class="song-artist">пока что нет голосов...</span>
                </div>
            </li>
        </ul>
    {% endif %}
    {% if sq2|length != 0 %}
        <h5>2 отряд</h5>
        <ul class="list-group">
            {% for song in sq2 %}
                <li class="list-group-item">
                    <span class="badge badge-dark badge-pill rating-badge">{{ song[0] }}</span>
                    <div class="song-info">
                        <span class="song-title">{{ song[1].split(' - ')[1] }}</span>
                        <span class="song-artist">{{ song[1].split(' - ')[0] }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h5>2 отряд</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge badge-dark badge-pill rating-badge">0</span>
                <div class="song-info">
                    <span class="song-artist">Пока нет голосов...</span>
                </div>
            </li>
        </ul>
    {% endif %}
    {% if sq3|length != 0 %}
        <h5>3 отряд</h5>
        <ul class="list-group">
            {% for song in sq3 %}
                <li class="list-group-item">
                    <span class="badge badge-dark badge-pill rating-badge">{{ song[0] }}</span>
                    <div class="song-info">
                        <span class="song-title">{{ song[1].split(' - ')[1] }}</span>
                        <span class="song-artist">{{ song[1].split(' - ')[0] }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h5>3 отряд</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge badge-dark badge-pill rating-badge">0</span>
                <div class="song-info">
                    <span class="song-artist">Пока нет голосов...</span>
                </div>
            </li>
        </ul>
    {% endif %}
    {% if sq4|length != 0 %}
        <h5>4 отряд</h5>
        <ul class="list-group">
            {% for song in sq4 %}
                <li class="list-group-item">
                    <span class="badge badge-dark badge-pill rating-badge">{{ song[0] }}</span>
                    <div class="song-info">
                        <span class="song-title">{{ song[1].split(' - ')[1] }}</span>
                        <span class="song-artist">{{ song[1].split(' - ')[0] }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h5>4 отряд</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge badge-dark badge-pill rating-badge">0</span>
                <div class="song-info">
                    <span class="song-artist">пока что нет голосов...</span>
                </div>
            </li>
        </ul>
    {% endif %}
    {% if sq5|length != 0 %}
    <h5>5 отряд</h5>
        <ul class="list-group">
            {% for song in sq5 %}
            <li class="list-group-item">
                <span class="badge badge-dark badge-pill rating-badge">{{ song[0] }}</span>
                <div class="song-info">
                    <span class="song-title">{{ song[1].split(' - ')[1] }}</span>
                    <span class="song-artist">{{ song[1].split(' - ')[0] }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h5>5 отряд</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge badge-dark badge-pill rating-badge">0</span>
                <div class="song-info">
                    <span class="song-artist">пока что нет голосов...</span>
                </div>
            </li>
        </ul>
    {% endif %}
</div>
</body>
</html>
